<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="container mt-5">
        <section>
            <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                      <h5 class="my-3"><%= data.fname +" "+ data.lname %></h5>
                      <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-primary mr-1">Follow</button>
                        <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0"><%=data.fname +" "+ data.lname%></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0"><%=data.email%></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Mobile</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0"><%=data.number%></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-danger mr-1">Log out</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-outline-danger ms-1">Delete account</button>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </section>
        
    </div>
</body>
</html>